<h1>Contacts</h1>

<ul>
    <li>Дзундза Дмитро</li>
    <li>Группа 308</li>
    <li>ЧНУ Петра Могили</li>
    <br>
    <li>Stack Overflow</li>
    <li>internet</li>
    <li>internet</li>
    <br>
    <li>Stan Lee</li>
    <li>Heart</li>
    <li>Marvel</li>
</ul>